<div class="container">
    <h2 class="mt-4">Users</h2>
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#userModal">Add User</button>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usersData">
          <td>{{ user.id}}</td>
          <td>{{ user.name}}</td>
          <td>{{ user.email}}</td>
          <td>
            <button class="btn btn-sm btn-secondary" data-bs-toggle="modal" data-bs-target="#userModal" (click)="editUser(user)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- User Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" aria-labelledby="userModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="userModalLabel"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="userForm" >
              <div class="mb-3">
                <label for="userName" class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name">
                <div *ngIf="userForm.controls['name'].invalid && userForm.controls['name'].touched" class="text-danger">
                  Name is required
                </div>
              </div>
              <div class="mb-3">
                <label for="userEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="userEmail" formControlName="email">
                <div *ngIf="userForm.controls['email'].invalid && userForm.controls['email'].touched" class="text-danger">
                  Valid email is required
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" >Close</button>
            <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" *ngIf="!isEdit" (click)="addUser()">Add User</button>
            <button type="button" class="btn btn-info"  data-bs-dismiss="modal" *ngIf="isEdit" (click)="updateUser()">Update User</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  